.Bd\(\$c1\) {
  border: 1px solid #707070;
}
.Bd\(\$c11\) {
  border: 0.10000000149011612px solid #707070;
}
.Bd\(\$c2\) {
  border: 1px solid #2AB57D;
}
.Bd\(\$c2\)\:h:hover {
  border: 1px solid #2AB57D;
}
.Bd\(\$c3\) {
  border: 1px solid #70707020;
}
.Bd\(\$c14\) {
  border: 2px solid #2AB57D;
}
.Bd\(\$c4\), .Bd\(\$c5\) {
  border: 1px dashed #00000050;
}
.Bd\(\$c6\) {
  border: 1px solid #70707066;
}
.Bd\(\$c7\) {
  border: 1px solid #DADADA;
}
.Bd\(\$c9\) {
  border: 1px solid #CAD7DD;
}
.Bd\(\$c11\) {
  border: 1px solid #40404020;
}
.Bd\(\$danger\) {
  border: 1px solid #EF5064;
}
.Bd\(n\) {
  border: none;
}
.Bd\(n\)\:h:hover {
  border: none;
}
.Bdt\(\$c1\) {
  border-top: 2px dashed #70707050;
}
.Bdb\(\$c1\) {
  border-bottom: 2px solid #00000050;
}
.Bdb\(\$c1-b\) {
  border-bottom: 1px solid #00000030;
}
.Bdb\(\$c2\) {
  border-bottom: 1px solid #00000010;
}
.Bdb\(\$c2-b\) {
  border-bottom: 1.5px solid #00000040;
}
.Bdb\(\$c3\) {
  border-bottom: 2px solid #2AB57D;
}
.Bdb\(\$c4\) {
  border-bottom: 1px solid #707070;
}
.Bdb\(\$c4-20\) {
  border-bottom: 1px solid #70707020;
}
.Bdb\(\$c3\)\:h:hover {
  border-bottom: 2px solid #2AB57D;
}
.Bdc\(\#ededed\) {
  border-color: #ededed;
}
.Bds\(s\) {
  border-style: solid;
}
.Bdbs\(s\) {
  border-bottom-style: solid;
}
.Bdbw\(1px\) {
  border-bottom-width: 1px;
}
.Bdrs\(100\%\) {
  -webkit-border-radius: 100%;
          border-radius: 100%;
}
.Bdrs\(10px\) {
  -webkit-border-radius: 10px;
          border-radius: 10px;
}
.Bdrs\(28px\) {
  -webkit-border-radius: 28px;
          border-radius: 28px;
}
.Bdrs\(11px\) {
  -webkit-border-radius: 11px;
          border-radius: 11px;
}
.Bdrs\(123px\) {
  -webkit-border-radius: 123px;
          border-radius: 123px;
}
.Bdrs\(13px\) {
  -webkit-border-radius: 13px;
          border-radius: 13px;
}
.Bdrs\(15px\) {
  -webkit-border-radius: 15px;
          border-radius: 15px;
}
.Bdrs\(16px\) {
  -webkit-border-radius: 16px;
          border-radius: 16px;
}
.Bdrs\(29px\) {
  -webkit-border-radius: 29px;
          border-radius: 29px;
}
.Bdrs\(2px\) {
  -webkit-border-radius: 2px;
          border-radius: 2px;
}
.Bdrs\(30px\) {
  -webkit-border-radius: 30px;
          border-radius: 30px;
}
.Bdrs\(3px\) {
  -webkit-border-radius: 3px;
          border-radius: 3px;
}
.Bdrs\(40px\) {
  -webkit-border-radius: 40px;
          border-radius: 40px;
}
.Bdrs\(4px\) {
  -webkit-border-radius: 4px;
          border-radius: 4px;
}
.Bdrs\(50\%\) {
  -webkit-border-radius: 50%;
          border-radius: 50%;
}
.Bdrs\(5px\) {
  -webkit-border-radius: 5px;
          border-radius: 5px;
}
.Bdrs\(6px\) {
  -webkit-border-radius: 6px;
          border-radius: 6px;
}
.Bdrs\(7px\) {
  -webkit-border-radius: 7px;
          border-radius: 7px;
}
.Bdrs\(8px\) {
  -webkit-border-radius: 8px;
          border-radius: 8px;
}
.Bdrs\(90\%\) {
  -webkit-border-radius: 90%;
          border-radius: 90%;
}
.Bdrs\(9px\) {
  -webkit-border-radius: 9px;
          border-radius: 9px;
}
.Bdrstend\(4px\) {
  -webkit-border-top-right-radius: 4px;
          border-top-right-radius: 4px;
}
.Bdrstend\(15px\) {
  -webkit-border-top-right-radius: 15px;
          border-top-right-radius: 15px;
}
.Bdrstend\(40\%\) {
  -webkit-border-top-right-radius: 40%;
          border-top-right-radius: 40%;
}
.Bdrstend\(8px\) {
  -webkit-border-top-right-radius: 8px;
          border-top-right-radius: 8px;
}
.Bdrsbend\(4px\) {
  -webkit-border-bottom-right-radius: 4px;
          border-bottom-right-radius: 4px;
}
.Bdrsbend\(11px\) {
  -webkit-border-bottom-right-radius: 11px;
          border-bottom-right-radius: 11px;
}
.Bdend\(\$pricing\) {
  border-right: 2px solid #D7D7D7;
}
.Bdend\(\$c3-2-end\) {
  border-right: 2px solid #40404020;
}

.Bdrsbend\(15px\) {
  -webkit-border-bottom-right-radius: 15px;
          border-bottom-right-radius: 15px;
}
.Bdrsbend\(8px\) {
  -webkit-border-bottom-right-radius: 8px;
          border-bottom-right-radius: 8px;
}
.Bdrsbstart\(4px\) {
  -webkit-border-bottom-left-radius: 4px;
          border-bottom-left-radius: 4px;
}
.Bdrsbstart\(11px\) {
  -webkit-border-bottom-left-radius: 11px;
          border-bottom-left-radius: 11px;
}
.Bdrsbstart\(15px\) {
  -webkit-border-bottom-left-radius: 15px;
          border-bottom-left-radius: 15px;
}
.Bdrsbstart\(8px\) {
  -webkit-border-bottom-left-radius: 8px;
          border-bottom-left-radius: 8px;
}
.Bdrststart\(4px\) {
  -webkit-border-top-left-radius: 4px;
          border-top-left-radius: 4px;
}
.Bdrststart\(11px\) {
  -webkit-border-top-left-radius: 11px;
          border-top-left-radius: 11px;
}
.Bdrststart\(15px\) {
  -webkit-border-top-left-radius: 15px;
          border-top-left-radius: 15px;
}
.Bdrststart\(40\%\) {
  -webkit-border-top-left-radius: 40%;
          border-top-left-radius: 40%;
}
.Bdrststart\(8px\) {
  -webkit-border-top-left-radius: 8px;
          border-top-left-radius: 8px;
}
.Bg\(\$c1\) {
  background: -o-linear-gradient(170deg, #2AB57D 0%, #5ECEC5 100%) 0% 0%;
  background: linear-gradient(280deg, #2AB57D 0%, #5ECEC5 100%) 0% 0%;
}
.Bg\(n\) {
  background: none;
}
.Bg\(\$c6\)\:h:hover {
  background: #2ab57d30;
}
.Bg\(\$c1\)\:h:hover {
  background: -o-linear-gradient(170deg, #2AB57D 0%, #5ECEC5 100%) 0% 0%;
  background: linear-gradient(280deg, #2AB57D 0%, #5ECEC5 100%) 0% 0%;
}
.Bg\(\$c2\)\!\:h:hover {
  background: #2ab57d !important;
}
.Bg\(\$c2\)\:h:hover {
  background: #2ab57d;
}
.Bgc\(\#ffffff\)\:h:hover {
  background-color: #ffffff;
}

.Bgc\(\#2ab57d\), .Bgc\(\$c3\) {
  background-color: #2ab57d;
}
.Bgc\(\#eeeeee\) {
  background-color: #eeeeee;
}
.Bgc\(\#404040\) {
  background-color: #404040;
}
.Bgc\(\#dff3ea\) {
  background-color: #DFF3EA;
}
.Bgc\(\#414141\) {
  background-color: #414141;
}
.Bgc\(\#f9f9f9\) {
  background-color: #f9f9f9;
}
.Bgc\(\#459a86\) {
  background-color: #459a86;
}
.Bgc\(\#6b7c93\) {
  background-color: #6b7c93;
}
.Bgc\(\#6c6c6c\) {
  background-color: #6c6c6c;
}
.Bgc\(\#707070\) {
  background-color: #707070;
}
.Bgc\(\#d45357\) {
  background-color: #d45357;
}
.Bgc\(\#e0f3f7\) {
  background-color: #e0f3f7;
}
.Bgc\(\#f0f0f0\) {
  background-color: #f0f0f0;
}
.Bgc\(\#f4f4f4\) {
  background-color: #f4f4f4;
}
.Bgc\(\#f5f5f5\) {
  background-color: #f5f5f5;
}
.Bgc\(\#fbfbfb\) {
  background-color: #fbfbfb;
}
.Bgc\(\#ff7272\) {
  background-color: #ff7272;
}
.Bgc\(\#ffffff\) {
  background-color: #ffffff;
}
.Bgc\(\$c1\) {
  background-color: #2ab57d1a;
}
.Bgc\(\$c2\) {
  background-color: #9C9C9C1A;
}
.Bgc\(\$c4\) {
  background-color: #7070700D;
}
.Bgc\(\$c5\) {
  background-color: #35405214;
}
.Bgc\(\$c6\) {
  background-color: #2AB57D30;
}
.Bgc\(\$c7\) {
  background-color: #00000050;
}
.Bgc\(\$c8\) {
  background-color: #EDF3F0;
}
.Bgc\(\$warning\) {
  background-color: #FFE8CE;
}
.Bgc\(\$success\) {
  background-color: #D1F0E4;
}
.Bgc\(t\) {
  background-color: transparent;
}
.Bgc\(\#e0f3f7\)\:h:hover {
  background-color: #e0f3f7;
}
.Bgc\(\#ebebeb\)\:h:hover {
  background-color: #ebebeb;
}
.Bgc\(\$c1\)\:h:hover {
  background-color: #2ab57d1a;
}
.Bgc\(\$c3\)\:h:hover {
  background-color: #2ab57d;
}
.Bgc\(\$danger\)\:h:hover {
  background-color: #EF5064;
}
.Bdcl\(c\) {
  border-collapse: collapse;
}
.Bxsh\(\$c1\) {
  -webkit-box-shadow: 0px 3px 6px #00000029;
          box-shadow: 0px 3px 6px #00000029;;
}
.Bxsh\(\$c2\) {
  -webkit-box-shadow: 4px 5px 9px #DEDEDE;
          box-shadow: 4px 5px 9px #DEDEDE;
}
.Bxsh\(\$c3\) {
  -webkit-box-shadow: 0px 3px 6px #00000029;
          box-shadow: 0px 3px 6px #00000029;
}
.Bxsh\(\$c4\) {
  -webkit-box-shadow: 0px 8px 10px #8CB0B733;
          box-shadow: 0px 8px 10px #8CB0B733;
}
.Bxsh\(\$c5\) {
  -webkit-box-shadow: 0px 3px 6px #B2B2B229;
          box-shadow: 0px 3px 6px #B2B2B229;
}
.Bxsh\(\$c6\) {
  -webkit-box-shadow: 50px 50px 99px #4141410F;
          box-shadow: 50px 50px 99px #4141410F;;
}
.Bxsh\(\$c7\) {
  -webkit-box-shadow: 5px 5px 6px #00000029;
          box-shadow: 5px 5px 6px #00000029;
}
.Bxsh\(\$c8\) {
  -webkit-box-shadow: 10px 3px 6px #00000029;
          box-shadow: 10px 3px 6px #00000029;
}
.C\(\#000000\) {
  color: #000000;
}
.C\(\#222222\) {
  color: #222222;
}
.C\(\#24253d\) {
  color: #24253d;
}
.C\(\#2ab57d\) {
  color: #2ab57d;
}
.C\(\#323334\) {
  color: #323334;
}
.C\(\#333333\) {
  color: #333333;
}
.C\(\#353535\) {
  color: #353535;
}
.C\(\#354052\) {
  color: #354052;
}
.C\(\#414141\) {
  color: #414141;
}
.C\(\#454f5b\) {
  color: #454f5b;
}
.C\(\#469985\) {
  color: #469985;
}
.C\(\#484848\) {
  color: #484848;
}
.C\(\#606060\) {
  color: #606060;
}
.C\(\#6280ff\)\! {
  color: #6280ff !important;
}
.C\(\#747474\) {
  color: #747474;
}
.C\(\#76848b\) {
  color: #76848b;
}
.C\(\#8f9ea6\) {
  color: #8f9ea6;
}
.C\(\#929292\) {
  color: #929292;
}
.C\(\#d45357\) {
  color: #d45357;
}
.C\(\#d9a34a\) {
  color: #d9a34a;
}
.C\(\#f9f9f9\) {
  color: #f9f9f9;
}
.C\(\#ff9c46\)\! {
  color: #ff9c46 !important;
}
.C\(\#ffffff\) {
  color: #ffffff;
}
.C\(\$c1\) {
  color: #32485d50;
}
.C\(\$c2\) {
  color: #625265;
}
.C\(\$c3\) {
  color: #EF5064;
}
.C\(\$warning\) {
  color: #EF7F50;
}
.C\(\$green\) {
  color: #2AB57D;
}
.C\(\#000000\)\:h:hover {
  color: #000000;
}
.C\(\#404040\) {
  color: #404040;
}
.C\(\#111111\)\:h:hover {
  color: #111111;
}
.C\(\#2ab57d\)\:h:hover {
  color: #2ab57d;
}
.C\(\#ffffff\)\:h:hover {
  color: #ffffff;
}
.C\(\$green\)\:h:hover {
  color: #2AB57D;
}
.Cur\(p\) {
  cursor: pointer;
}
.D\(b\) {
  display: block;
}
.D\(f\) {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.D\(ib\) {
  display: inline-block;
}
.D\(n\) {
  display: none;
}
.Fx\(\$1\) {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.Fx\(\$2\) {
  -webkit-box-flex: 2;
  -webkit-flex: 2;
      -ms-flex: 2;
          flex: 2;
}
.As\(c\) {
  -webkit-align-self: center;
      -ms-flex-item-align: center;
              -ms-grid-row-align: center;
          align-self: center;
}
.As\(fe\) {
  -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
          align-self: flex-end;
}
.Fld\(c\) {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.Ai\(c\) {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.Jc\(c\) {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.Jc\(fe\) {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.Jc\(sb\) {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.Flw\(w\) {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.Ff\(\$l\) {
  font-family: Lato;
}
.Ff\(\$lg\) {
  font-family: lucia-grande;
}
.Ff\(\$lgs\) {
  font-family: "LetterGothicStd";
}
.Ff\(\$ms\) {
  font-family: 'Montserrat', sans-serif;
}
.Ff\(\$rb\) {
  font-family: 'Roboto', sans-serif;
}
.Ff\(\$pp\) {  
  font-family: 'Poppins', sans-serif;
}
.Ff\(\$pf\) {  
  font-family: 'Playfair Display', sans-serif;
}
.Ff\(\$bn\) {  
  font-family: 'Bodoni', sans-serif;
}
.Ff\(\$rw\) {  
  font-family: 'Raleway', sans-serif;
}
.Ff\(\$nbty\) {  
  font-family: 'Nature Beauty', sans-serif;
}
.Ff\(\$mrda\) {  
  font-family: 'Margalida', sans-serif;
}
.Ff\(\$grdn\) {  
  font-family: 'GardenGrownUS-B';
}
.Ff\(\$clst\) {  
  font-family: 'Cellest';
}
.Ff\(\$crtn\) {  
  font-family: 'cartoonish';
}
.Ff\(\$asttc\) {  
  font-family: 'Aesthetic';
}
.Ff\(\$bstsgn\) {  
  font-family: 'Best Sign';
}
.Ff\(\$bllfr\) {  
  font-family: 'Bellefair';
}
.Ff\(ss\) {
  font-family: Helvetica, Arial, sans-serif;
}
.Fw\(100\) {
  font-weight: 100;
}
.Fw\(400\) {
  font-weight: 400;
}
.Fw\(500\) {
  font-weight: 500;
}
.Fw\(600\) {
  font-weight: 600;
}
.Fw\(700\) {
  font-weight: 700;
}
.Fw\(900\) {
  font-weight: 900;
}
.Fz\(103px\) {
  font-size: 103px;
}
.Fz\(144px\) {
  font-size: 144px;
}
.Fz\(10px\) {
  font-size: 10px;
}
.Fz\(11px\) {
  font-size: 11px;
}
.Fz\(12px\) {
  font-size: 12px;
}
.Fz\(13px\) {
  font-size: 13px;
}
.Fz\(14px\) {
  font-size: 14px;
}
.Fz\(15px\) {
  font-size: 15px;
}
.Fz\(16px\) {
  font-size: 16px;
}
.Fz\(17px\) {
  font-size: 17px;
}
.Fz\(18px\) {
  font-size: 18px;
}
.Fz\(19px\) {
  font-size: 19px;
}
.Fz\(20px\) {
  font-size: 20px;
}
.Fz\(21px\) {
  font-size: 21px;
}
.Fz\(22px\) {
  font-size: 22px;
}
.Fz\(23px\) {
  font-size: 23px;
}
.Fz\(24px\) {
  font-size: 24px;
}
.Fz\(25px\) {
  font-size: 25px;
}
.Fz\(26px\) {
  font-size: 26px;
}
.Fz\(28px\) {
  font-size: 28px;
}
.Fz\(30px\) {
  font-size: 30px;
}
.Fz\(31px\) {
  font-size: 31px;
}
.Fz\(40px\) {
  font-size: 40px;
}
.Fz\(42px\) {
  font-size: 42px;
}
.Fz\(43px\) {
  font-size: 43px;
}
.Fz\(5px\) {
  font-size: 5px;
}
.Fz\(60px\) {
  font-size: 60px;
}
.Fz\(69px\) {
  font-size: 69px;
}
.Fz\(88px\) {
  font-size: 88px;
}
.Fz\(6px\) {
  font-size: 6px;
}
.Fz\(700\) {
  font-size: 700;
}
.Fz\(75px\) {
  font-size: 75px;
}
.Fz\(7px\) {
  font-size: 7px;
}
.Fz\(8px\) {
  font-size: 8px;
}
.Fz\(9px\) {
  font-size: 9px;
}
.H\(100\%\) {
  height: 100%;
}
.H\(150px\) {
  height: 150px;
}
.H\(106px\) {
  height: 106px;
}
.H\(10px\) {
  height: 10px;
}
.H\(12px\) {
  height: 12px;
}
.H\(14px\) {
  height: 14px;
}
.H\(15px\) {
  height: 15px;
}
.H\(16px\) {
  height: 16px;
}
.H\(18px\) {
  height: 18px;
}
.H\(19px\) {
  height: 19px;
}
.H\(201px\) {
  height: 201px;
}
.H\(20px\) {
  height: 20px;
}
.H\(21px\) {
  height: 21px;
}
.H\(22px\) {
  height: 22px;
}
.H\(23px\) {
  height: 23px;
}
.H\(24px\) {
  height: 24px;
}
.H\(30px\) {
  height: 30px;
}
.H\(36px\) {
  height: 36px;
}
.H\(375px\) {
  height: 375px;
}
.H\(37px\) {
  height: 37px;
}
.H\(39px\) {
  height: 39px;
}
.H\(44px\) {
  height: 44px;
}
.H\(47px\) {
  height: 47px;
}
.H\(500px\) {
  height: 500px;
}
.H\(51px\) {
  height: 51px;
}
.H\(54px\) {
  height: 54px;
}
.H\(60px\) {
  height: 60px;
}
.H\(70px\) {
  height: 70px;
}
.H\(80px\) {
  height: 80px;
}
.H\(84px\) {
  height: 84px;
}
.H\(90px\) {
  height: 90px;
}
.H\(93px\) {
  height: 93px;
}
.H\(250px\) {
  min-height: 250px;
}
.H\(a\) {
  height: auto;
}
.Lts\(0\.7px\) {
  letter-spacing: 0.7px;
}
.List\(n\) {
  list-style-type: none;
}
.Lh\(10px\) {
  line-height: 10px;
}
.Lh\(i\) {
  line-height: inherit;
}
.Lh\(13px\) {
  line-height: 13px;
}
.Lh\(21px\) {
  line-height: 21px;
}
.Lh\(26px\) {
  line-height: 26px;
}
.Lh\(48px\) {
  line-height: 48px;
}
.Lh\(4px\) {
  line-height: 4px;
}
.Lh\(5px\) {
  line-height: 5px;
}
.Lh\(70px\) {
  line-height: 70px;
}
.Lh\(8px\) {
  line-height: 8px;
}
.M\(10px\) {
  margin: 10px;
}
.M\(15px\) {
  margin: 15px;
}
.M\(3px\) {
  margin: 3px;
}
.M\(2px\) {
  margin: 2px;
}
.M\(8px\) {
  margin: 8px;
}
.Mx\(4px\) {
  margin-left: 4px;
  margin-right: 4px;
}
.Mx\(10px\), .Mstart\(10px\) {
  margin-left: 10px;
}
.Mstart\(a\) {
  margin-left: auto;
}
.Mx\(10px\), .Mend\(10px\) {
  margin-right: 10px;
}
.Mx\(15px\), .Mstart\(15px\) {
  margin-left: 15px;
}
.Mx\(15px\), .Mend\(15px\) {
  margin-right: 15px;
}
.Mx\(18px\) {
  margin-left: 18px;
  margin-right: 18px;
}
.Mx\(20px\) {
  margin-left: 20px;
}
.Mx\(20px\), .Mend\(20px\) {
  margin-right: 20px;
}
.Mx\(23px\) {
  margin-left: 23px;
}
.Mx\(23px\), .Mend\(23px\) {
  margin-right: 23px;
}
.Mx\(24px\) {
  margin-left: 24px;
  margin-right: 24px;
}
.Mx\(25px\), .Mstart\(25px\) {
  margin-left: 25px;
}
.Mx\(25px\), .Mend\(25px\) {
  margin-right: 25px;
}
.Mx\(2px\), .Mstart\(2px\) {
  margin-left: 2px;
}
.Mx\(2px\), .Mend\(2px\) {
  margin-right: 2px;
}
.Mx\(30px\) {
  margin-left: 30px;
  margin-right: 30px;
}
.Mx\(34px\) {
  margin-left: 34px;
  margin-right: 34px;
}
.Mx\(8px\), .Mstart\(8px\) {
  margin-left: 8px;
}
.Mx\(8px\), .Mend\(8px\) {
  margin-right: 8px;
}
.Mx\(9px\) {
  margin-left: 9px;
}
.Mx\(9px\), .Mend\(9px\) {
  margin-right: 9px;
}
.Mx\(a\) {
  margin-left: auto;
  margin-right: auto;
}
.My\(12px\), .Mt\(12px\) {
  margin-top: 12px;
}
.My\(12px\), .Mb\(12px\) {
  margin-bottom: 12px;
}
.My\(13px\), .Mt\(13px\) {
  margin-top: 13px;
}
.My\(13px\) {
  margin-bottom: 13px;
}
.My\(15px\), .Mt\(15px\) {
  margin-top: 15px;
}
.My\(15px\), .Mb\(15px\) {
  margin-bottom: 15px;
}
.My\(20px\), .Mt\(20px\) {
  margin-top: 20px;
}
.My\(20px\), .Mb\(20px\) {
  margin-bottom: 20px;
}
.My\(2px\) {
  margin-top: 2px;
  margin-bottom: 2px;
}
.My\(6px\), .Mt\(6px\) {
  margin-top: 6px;
}
.My\(6px\), .Mb\(6px\) {
  margin-bottom: 6px;
}
.My\(8px\), .Mt\(8px\) {
  margin-top: 8px;
}
.My\(8px\), .Mb\(8px\) {
  margin-bottom: 8px;
}
.Mt\(10px\) {
  margin-top: 10px;
}
.Mt\(11px\) {
  margin-top: 11px;
}
.Mt\(24px\) {
  margin-top: 24px;
}
.Mt\(120px\) {
  margin-top: 120px;
}
.Mt\(122px\) {
  margin-top: 122px;
}
.Mt\(14px\) {
  margin-top: 14px;
}
.Mt\(16px\) {
  margin-top: 16px;
}
.Mt\(17px\) {
  margin-top: 17px;
}
.Mt\(18px\) {
  margin-top: 18px;
}
.Mt\(19px\) {
  margin-top: 19px;
}
.Mt\(21px\) {
  margin-top: 21px;
}
.Mt\(22px\) {
  margin-top: 22px;
}
.Mt\(24px\) {
  margin-top: 24px;
}
.Mt\(25px\) {
  margin-top: 25px;
}
.Mt\(27px\) {
  margin-top: 27px;
}
.Mt\(28px\) {
  margin-top: 28px;
}
.Mt\(29px\) {
  margin-top: 29px;
}
.Mt\(30px\) {
  margin-top: 30px;
}
.Mt\(31px\) {
  margin-top: 31px;
}
.Mt\(35px\) {
  margin-top: 35px;
}
.Mt\(3px\) {
  margin-top: 3px;
}
.Mt\(41px\) {
  margin-top: 41px;
}
.Mt\(45px\) {
  margin-top: 45px;
}
.Mt\(47px\) {
  margin-top: 47px;
}
.Mt\(4px\) {
  margin-top: 4px;
}
.Mt\(50px\) {
  margin-top: 50px;
}
.Mt\(5px\) {
  margin-top: 5px;
}
.Mt\(70px\) {
  margin-top: 70px;
}
.Mt\(75px\) {
  margin-top: 75px;
}
.Mt\(77px\) {
  margin-top: 77px;
}
.Mt\(79px\) {
  margin-top: 79px;
}
.Mt\(9px\) {
  margin-top: 9px;
}
.Mt\(a\) {
  margin-top: auto;
}
.Mend\(11px\) {
  margin-right: 11px;
}
.Mend\(12px\) {
  margin-right: 12px;
}
.Mend\(13px\) {
  margin-right: 13px;
}
.Mend\(16px\) {
  margin-right: 16px;
}
.Mend\(21px\) {
  margin-right: 21px;
}
.Mend\(36px\) {
  margin-right: 36px;
}
.Mend\(3px\) {
  margin-right: 3px;
}
.Mend\(51px\) {
  margin-right: 51px;
}
.Mend\(6px\) {
  margin-right: 6px;
}
.Mb\(10px\) {
  margin-bottom: 10px;
}
.Mb\(150px\) {
  margin-bottom: 150px;
}
.Mb\(160px\) {
  margin-bottom: 160px;
}
.Mb\(16px\) {
  margin-bottom: 16px;
}
.Mb\(18px\) {
  margin-bottom: 18px;
}
.Mb\(216px\) {
  margin-bottom: 216px;
}
.Mb\(221px\) {
  margin-bottom: 221px;
}
.Mb\(22px\) {
  margin-bottom: 22px;
}
.Mb\(25px\) {
  margin-bottom: 25px;
}
.Mb\(30px\) {
  margin-bottom: 30px;
}
.Mb\(35px\) {
  margin-bottom: 35px;
}
.Mb\(36px\) {
  margin-bottom: 36px;
}
.Mb\(37px\) {
  margin-bottom: 37px;
}
.Mb\(40px\) {
  margin-bottom: 40px;
}
.Mb\(43px\) {
  margin-bottom: 43px;
}
.Mb\(56px\) {
  margin-bottom: 56px;
}
.Mb\(5px\) {
  margin-bottom: 5px;
}
.Mb\(7px\) {
  margin-bottom: 7px;
}
.Mb\(90px\) {
  margin-bottom: 90px;
}
.Mb\(9px\) {
  margin-bottom: 9px;
}
.Mstart\(3px\) {
  margin-left: 3px;
}
.Mstart\(11px\) {
  margin-left: 11px;
}
.Mstart\(14px\) {
  margin-left: 14px;
}
.Mstart\(50px\) {
  margin-left: 50px;
}
.Mstart\(6px\) {
  margin-left: 6px;
}
.Maw\(1002px\) {
  max-width: 1002px;
}
.Maw\(1097px\) {
  max-width: 1097px;
}
.Maw\(1200px\) {
  max-width: 1200px;
}
.Maw\(160px\) {
  max-width: 160px;
}
.Maw\(140px\) {
  max-width: 140px;
}
.Maw\(1920px\) {
  max-width: 1920px;
}
.Maw\(185px\) {
  max-width: 185px;
}
.Maw\(193px\) {
  max-width: 193px;
}
.Maw\(213px\) {
  max-width: 213px;
}
.Maw\(222px\) {
  max-width: 222px;
}
.Maw\(237px\) {
  max-width: 237px;
}
.Maw\(320px\) {
  max-width: 320px;
}
.Maw\(346px\) {
  max-width: 346px;
}
.Maw\(360px\) {
  max-width: 360px;
}
.Maw\(375px\) {
  max-width: 375px;
}
.Maw\(385px\) {
  max-width: 385px;
}
.Maw\(420px\) {
  max-width: 420px;
}
.Maw\(500px\) {
  max-width: 500px;
}
.Maw\(536px\) {
  max-width: 536px;
}
.Maw\(54px\) {
  max-width: 54px;
}
.Maw\(551px\) {
  max-width: 551px;
}
.Maw\(558px\) {
  max-width: 558px;
}
.Maw\(645px\) {
  max-width: 645px;
}
.Maw\(839px\) {
  max-width: 839px;
}
.Maw\(811px\) {
  max-width: 811px;
}
.Maw\(85px\) {
  max-width: 85px;
}
.Maw\(900px\) {
  max-width: 900px;
}
.Maw\(965px\) {
  max-width: 965px;
}
.Maw\(731px\) {
  max-width: 731px;
}
.Maw\(700px\) {
  max-width: 700px;
}
.Maw\(513px\) {
  max-width: 513px;
}
.Maw\(300px\) {
  max-width: 339px;
}
.Maw\(maxc\) {
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
}
.Miw\(75px\) {
  min-width: 75px;
}
.Mih\(100vh\) {
  min-height: 100vh;
}
.Mih\(130px\) {
  min-height: 130px;
}
.Mih\(150px\) {
  min-height: 150px;
}
.Mih\(63px\) {
  min-height: 63px;
}
.Mih\(40px\) {
  min-height: 53px;
}
.Mih\(70vh\) {
  min-height: 70vh;
}
.Mih\(80vh\) {
  min-height: 80vh;
}
.Mih\(88vh\) {
  min-height: 88vh;
}
.O\(n\) {
  outline: none;
}
.Va\(m\) {
  vertical-align: middle;
}
.T\(-6px\) {
  top: -6px;
}
.T\(0\) {
  top: 0;
}
.T\(10px\) {
  top: 10px;
}
.T\(15px\) {
  top: 15px;
}
.T\(12px\) {
  top: 12px;
}
.T\(18px\) {
  top: 18px;
}
.T\(1px\) {
  top: 1px;
}
.T\(25px\) {
  top: 25px;
}
.T\(35\%\) {
  top: 35%;
}
.T\(50\%\) {
  top: 50%;
}
.T\(65px\) {
  top: 65px;
}
.T\(90\%\) {
  top: 90%;
}
.End\(-3px\) {
  right: -3px;
}
.End\(-6px\) {
  right: -6px;
}
.End\(15px\) {
  right: 15px;
}
.End\(20px\) {
  right: 20px;
}
.End\(3px\) {
  right: 3px;
}
.End\(7px\) {
  right: 7px;
}
.End\(8px\) {
  right: 8px;
}
.B\(30px\) {
  bottom: 30px;
}
.B\(50px\) {
  bottom: 50px;
}
.Start\(0\) {
  left: 0;
}
.Start\(12px\) {
  left: 12px;
}
.Start\(50\%\) {
  left: 50%;
}
.Op\(0\.1\) {
  opacity: 0.1;
}
.Op\(0\.16\) {
  opacity: 0.16;
}
.Op\(0\.2\) {
  opacity: 0.2;
}
.Op\(0\.44\) {
  opacity: 0.44;
}
.Op\(0\.5\) {
  opacity: 0.5;
}
.Op\(0\.7\) {
  opacity: 0.7;
}
.Ov\(h\) {
  overflow: hidden;
}
.P\(10px\) {
  padding: 10px;
}
.P\(11px\) {
  padding: 11px;
}
.P\(3px\) {
  padding: 3px;
}
.P\(15px\) {
  padding: 15px;
}
.P\(16px\) {
  padding: 16px;
}
.P\(1px\) {
  padding: 1px;
}
.P\(4px\) {
  padding: 4px;
}
.P\(5px\) {
  padding: 5px;
}
.P\(6px\) {
  padding: 6px;
}
.P\(8px\) {
  padding: 8px;
}
.Px\(100px\) {
  padding-left: 100px;
  padding-right: 100px;
}
.Px\(10px\), .Pstart\(10px\) {
  padding-left: 10px;
}
.Px\(10px\) {
  padding-right: 10px;
}
.Px\(11px\) {
  padding-left: 11px;
  padding-right: 11px;
}
.Px\(12px\) {
  padding-left: 12px;
  padding-right: 12px;
}
.Px\(13px\) {
  padding-left: 13px;
}
.Pend\(32px\) {
  padding-right: 32px !important;
}
.Px\(13px\), .Pend\(13px\) {
  padding-right: 13px;
}
.Px\(14px\) {
  padding-left: 14px;
  padding-right: 14px;
}
.Px\(15px\) {
  padding-left: 15px;
}
.Px\(15px\), .Pend\(15px\) {
  padding-right: 15px;
}
.Px\(16px\) {
  padding-left: 16px;
  padding-right: 16px;
}
.Px\(17px\) {
  padding-left: 17px;
  padding-right: 17px;
}
.Px\(18px\) {
  padding-left: 18px;
  padding-right: 18px;
}
.Px\(20px\) {
  padding-left: 20px;
  padding-right: 20px;
}
.Px\(23px\) {
  padding-left: 23px;
  padding-right: 23px;
}
.Px\(24px\) {
  padding-left: 24px;
  padding-right: 24px;
}
.Px\(25px\) {
  padding-left: 25px;
  padding-right: 25px;
}
.Px\(26px\) {
  padding-left: 26px;
  padding-right: 26px;
}
.Px\(27px\) {
  padding-left: 27px;
  padding-right: 27px;
}
.Px\(28px\) {
  padding-left: 28px;
  padding-right: 28px;
}
.Px\(30px\) {
  padding-left: 30px;
  padding-right: 30px;
}
.Px\(32px\) {
  padding-left: 32px;
  padding-right: 32px;
}
.Px\(39px\) {
  padding-left: 39px;
  padding-right: 39px;
}
.Px\(80px\) {
  padding-left: 80px;
  padding-right: 80px;
}
.Px\(3px\), .Pstart\(3px\) {
  padding-left: 3px;
}
.Px\(3px\) {
  padding-right: 3px;
}
.Px\(4\.8\%\) {
  padding-left: 4.8%;
  padding-right: 4.8%;
}
.Px\(47px\) {
  padding-left: 47px;
  padding-right: 47px;
}
.Px\(4px\) {
  padding-left: 4px;
  padding-right: 4px;
}
.Px\(5px\) {
  padding-left: 5px;
  padding-right: 5px;
}
.Px\(6px\) {
  padding-left: 6px;
  padding-right: 6px;
}
.Px\(7px\) {
  padding-left: 7px;
  padding-right: 7px;
}
.Px\(8px\) {
  padding-left: 8px;
  padding-right: 8px;
}
.Pend\(8px\) {  
  padding-right: 8px;
}
.Px\(92px\) {
  padding-left: 92px;
  padding-right: 92px;
}
.Px\(9px\) {
  padding-left: 9px;
  padding-right: 9px;
}
.Py\(10px\), .Pt\(10px\) {
  padding-top: 10px;
}
.Py\(10px\), .Pb\(10px\) {
  padding-bottom: 10px;
}
.Py\(11px\) {
  padding-top: 11px;
}
.Pt\(35px\) {
  padding-top: 35px;
}
.Pt\(16px\) {
  padding-top: 16px;
}
.Py\(11px\), .Pb\(11px\) {
  padding-bottom: 11px;
}
.Py\(13px\) {
  padding-top: 13px;
}
.Py\(13px\), .Pb\(13px\) {
  padding-bottom: 13px;
}
.Py\(14px\), .Pt\(14px\) {
  padding-top: 14px;
}
.Py\(14px\), .Pb\(14px\) {
  padding-bottom: 14px;
}
.Py\(15px\), .Pt\(15px\) {
  padding-top: 15px;
}
.Py\(15px\), .Pb\(15px\) {
  padding-bottom: 15px;
}
.Py\(16px\) {
  padding-top: 16px;
}
.Py\(16px\), .Pb\(16px\) {
  padding-bottom: 16px;
}
.Py\(17px\) {
  padding-top: 17px;
  padding-bottom: 17px;
}
.Py\(18px\), .Pt\(18px\) {
  padding-top: 18px;
}
.Py\(18px\), .Pb\(18px\) {
  padding-bottom: 18px;
}
.Py\(19px\), .Pt\(19px\) {
  padding-top: 19px;
}
.Py\(19px\) {
  padding-bottom: 19px;
}
.Py\(20px\) {
  padding-top: 20px;
}
.Py\(24px\) {
  padding-top: 24px;
  padding-bottom: 24px;
}
.Py\(20px\), .Pb\(20px\) {
  padding-bottom: 20px;
}
.Py\(30px\), .Pt\(30px\) {
  padding-top: 30px;
}
.Py\(30px\), .Pb\(30px\) {
  padding-bottom: 30px;
}
.Py\(33px\) {
  padding-top: 33px;
  padding-bottom: 33px;
}
.Py\(3px\) {
  padding-top: 3px;
}
.Py\(3px\), .Pb\(3px\) {
  padding-bottom: 3px;
}
.Py\(40px\) {
  padding-top: 40px;
}
.Py\(40px\), .Pb\(40px\) {
  padding-bottom: 40px;
}
.Py\(45px\) {
  padding-top: 45px;
  padding-bottom: 45px;
}
.Py\(4px\) {
  padding-top: 4px;
  padding-bottom: 4px;
}
.Py\(5px\), .Pt\(5px\) {
  padding-top: 5px;
}
.Py\(5px\) {
  padding-bottom: 5px;
}
.Py\(6px\) {
  padding-top: 6px;
  padding-bottom: 6px;
}
.Py\(73px\) {
  padding-top: 73px;
  padding-bottom: 73px;
}
.Py\(8px\) {
  padding-top: 8px;
}
.Py\(8px\), .Pb\(8px\) {
  padding-bottom: 8px;
}
.Py\(9px\), .Pt\(9px\) {
  padding-top: 9px;
}
.Py\(9px\), .Pb\(9px\) {
  padding-bottom: 9px;
}
.Pt\(21px\) {
  padding-top: 21px;
}
.Pt\(29px\) {
  padding-top: 29px;
}
.Pt\(90px\) {
  padding-top: 90px;
}
.Pend\(60px\) {
  padding-right: 60px;
}
.Pb\(12px\) {
  padding-bottom: 12px;
}
.Pb\(21px\) {
  padding-bottom: 21px;
}
.Pb\(23px\) {
  padding-bottom: 23px;
}
.Pb\(24px\) {
  padding-bottom: 24px;
}
.Pb\(43px\) {
  padding-bottom: 43px;
}
.Pb\(60px\) {
  padding-bottom: 60px;
}
.Pb\(70px\) {
  padding-bottom: 70px;
}
.Pos\(a\) {
  position: absolute;
}
.Pos\(f\) {
  position: fixed;
}
.Pos\(r\) {
  position: relative;
}
.Ta\(c\) {
  text-align: center;
}
.Ta\(e\) {
  text-align: end;
}
.Ta\(end\) {
  text-align: right;
}
.Ta\(start\) {
  text-align: left;
}
.Td\(lt\) {
  text-decoration: line-through;
}
.Td\(u\) {
  text-decoration: underline;
}
.Td\(u\)\:h:hover {
  text-decoration: underline;
}
.Tt\(c\) {
  text-transform: capitalize;
}
.Tt\(u\) {
  text-transform: uppercase;
}
.Trf\(\$center-top\) {
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
.Rotate\(180deg\) {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
/*<<<<<<< HEAD*/
.Rotate\(45deg\) {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
/*=======
.Rotate\(135deg\) {
  -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
          transform: rotate(135deg);
>>>>>>> df36bacf8cb5c7af581e46837e6ddcfbbad8ca62
*/
}
.Scale\(1\.02\)\:h:hover {
  -webkit-transform: scale(1.02);
      -ms-transform: scale(1.02);
          transform: scale(1.02);
}
.Scale\(1\.03\)\:h:hover {
  -webkit-transform: scale(1.03);
      -ms-transform: scale(1.03);
          transform: scale(1.03);
}
.Scale\(1\.1\)\:h:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
.Trs\(\$c1\) {
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.W\(100\%\) {
  width: 100%;
}
.W\(105px\) {
  width: 105px;
}
.Maw\(250px\) {
  max-width: 250px;
}
.Maw\(400px\) {
  max-width: 400px;
}
.Maw\(462px\) {
  max-width: 462px;
}
.Maw\(504px\) {
  max-width: 504px;
}
.W\(10px\) {
  width: 10px;
}
.W\(20px\) {
  width: 20px;
}
.W\(111px\) {
  width: 111px;
}
.W\(12px\) {
  width: 12px;
}
.W\(136px\) {
  width: 136px;
}
.W\(13px\) {
  width: 13px;
}
.W\(149px\) {
  width: 149px;
}
.W\(14px\) {
  width: 14px;
}
.W\(150px\) {
  width: 150px;
}
.W\(15px\) {
  width: 15px;
}
.W\(16px\) {
  width: 16px;
}
.W\(170px\) {
  width: 170px;
}
.W\(180px\) {
  width: 180px;
}
.W\(18px\) {
  width: 18px;
}
.W\(215px\) {
  width: 215px;
}
.W\(22px\) {
  width: 22px;
}
.W\(23px\) {
  width: 23px;
}
.W\(24px\) {
  width: 24px;
}
.W\(25px\) {
  width: 25px;
}
.W\(26px\) {
  width: 26px;
}
.W\(30px\) {
  width: 30px;
}
.W\(34px\) {
  width: 34px;
}
.W\(35px\) {
  width: 35px;
}
.W\(36px\) {
  width: 36px;
}
.W\(32px\) {
  width: 32px;
}
.W\(375px\) {
  width: 375px;
}
.W\(42px\) {
  width: 42px;
}
.W\(43px\) {
  width: 43px;
}
.W\(44px\) {
  width: 44px;
}
.W\(47px\) {
  width: 47px;
}
.W\(51px\) {
  width: 51px;
}
.W\(54px\) {
  width: 54px;
}
.W\(55px\) {
  width: 55px;
}
.W\(60px\) {
  width: 60px;
}
.W\(21px\) {
  width: 21px;
}
.W\(70px\) {
  width: 70px;
}
.W\(73px\) {
  width: 73px;
}
.W\(76px\) {
  width: 76px;
}
.W\(80\%\) {
  width: 80%;
}
.W\(80px\) {
  width: 80px;
}
.W\(84px\) {
  width: 84px;
}
.W\(90px\) {
  width: 90px;
}
.W\(a\) {
  width: auto;
}
.Z\(-1\) {
  z-index: -1;
}
.Z\(-111\) {
  z-index: -111;
}
.Z\(0\) {
  z-index: 0;
}
.Z\(1\) {
  z-index: 1;
}
.Z\(99\) {
  z-index: 99;
}
.Z\(999\) {
  z-index: 999;
}
.Z\(99999\) {
  z-index: 99999;
}
.Fill\(\#2ab57d\) {
  fill: #2ab57d;
}
.Fill\(\#707070\) {
  fill: #707070;
}
.Fill\(\#707070\)\! {
  fill: #707070 !important;
}
.Fill\(\#bebebe\) {
  fill: #bebebe;
}
.Fill\(\#ffffff\) {
  fill: #ffffff;
}
.Fill\(\#2ab57d\)\:h:hover {
  fill: #2ab57d;
}
.Bd\(\$c15\) {
  border: 1px solid #33404040;
}
.Bd\(\$c3-2\) {
  border: 2px solid #40404020;
}
.Bdb\(\$c6\) {
  border-bottom: 1px solid #33404040;
}

.Bdb\(\$custom\) {
  border-bottom: 2px solid transparent;
}
.Mx\(12px\) {
  margin-left: 12px;
}
.Mx\(12px\), .Mend\(12px\) {
  margin-right: 12px;
}
.Mx\(6px\), .Mstart\(6px\) {
  margin-left: 6px;
}
.Mx\(6px\), .Mend\(6px\) {
  margin-right: 6px;
}

.Py\(12px\), .Pt\(12px\) {
  padding-top: 12px;
}
.Py\(12px\), .Pb\(12px\) {
  padding-bottom: 12px;
}
.Py\(6px\), .Pb\(6px\) {
  padding-bottom: 6px;
}
.Py\(7px\) {
  padding-top: 7px;
  padding-bottom: 7px;
}
.Fz\(48px\) {
  font-size: 48px;
}
.Fz\(32px\) {
  font-size: 32px;
}
.Fz\(56px\) {
  font-size: 56px;
}
.Mx\(2\%\) {
  margin-left: 2%;
  margin-right: 2%;
}
.Mt\(36px\) {
  margin-top: 36px;
}
.Mt\(58px\) {
  margin-top: 58px;
}
.Mb\(123px\) {
  margin-bottom: 123px;
}
.Mb\(69px\) {
  margin-bottom: 69px;
}
.Pt\(32px\) {
  padding-top: 32px;
}
.Pb\(127px\) {
  padding-bottom: 127px;
}
.C\(\#ff9c46\) {
  color: #ff9c46;
}
.Mx\(24px\), .Mend\(24px\) {
  margin-right: 24px;
}
.Py\(8px\), .Pt\(8px\) {
  padding-top: 8px;
}
.Pe\(n\) {
  pointer-events: none;
}
.Mt\(40px\) {
  margin-top: 40px;
}
.Mb\(24px\) {
  margin-bottom: 24px;
}
.P\(24px\) {
  padding: 24px;
}
.P\(4px\) {
  padding: 4px;
}
.Mx\(16px\) {
  margin-left: 16px;
}
.Mx\(16px\), .Mend\(16px\) {
  margin-right: 16px;
}
.Mt\(32px\) {
  margin-top: 32px;
}
.Py\(32px\), .Pt\(32px\) {
  padding-top: 32px;
}
.Py\(32px\) {
  padding-bottom: 32px;
}
.W\(121px\) {
  width: 121px;
}
.Py\(20px\), .Pt\(20px\) {
  padding-top: 20px;
}
.Bdrs\(45px\) {
  -webkit-border-radius: 45px;
          border-radius: 45px;
}
.Bdrs\(60px\) {
  -webkit-border-radius: 60px;
          border-radius: 60px;
}
.Fw\(300\) {
  font-weight: 300;
}
.H\(184px\) {
  height: 184px;
}
.H\(69px\) {
  height: 69px;
}
.My\(16px\), .Mt\(16px\) {
  margin-top: 16px;
}
.My\(16px\), .Mb\(16px\) {
  margin-bottom: 16px;
}
.Mt\(23px\) {
  margin-top: 23px;
}
.Mb\(48px\) {
  margin-bottom: 48px;
}
.W\(184px\) {
  width: 184px;
}
.W\(230px\) {
  width: 230px;
}
.W\(63\%\) {
  width: 63%;
}
.W\(69px\) {
  width: 69px;
}
.Bdrs\(24px\) {
  -webkit-border-radius: 24px;
          border-radius: 24px;
}
.Bdrs\(32px\) {
  -webkit-border-radius: 32px;
          border-radius: 32px;
}
.Px\(48px\) {
  padding-left: 48px;
  padding-right: 48px;
}
.Px\(22px\) {
  padding-left: 22px;
  padding-right: 22px;
}
.Px\(3\%\) {
  padding-left: 2%;
  padding-right: 2%;
}
.Mstart\(24px\) {
  margin-left: 24px;
}
.Bg\(\$c6\) {
  background: #2AB57D6A 0% 0% no-repeat padding-box;
}
.Bg\(\$c6\)\:h:hover {
  background: #2AB57D6A 0% 0% no-repeat padding-box;
}
.C\(\#8d8d8d\) {
  color: #8d8d8d;
}
.H\(94px\) {
  height: 94px;
}
.My\(10px\), .Mt\(10px\) {
  margin-top: 10px;
}
.My\(10px\), .Mb\(10px\) {
  margin-bottom: 10px;
}
.Py\(27px\) {
  padding-top: 27px;
}
.Py\(27px\), .Pb\(27px\) {
  padding-bottom: 27px;
}
.W\(94px\) {
  width: 94px;
}
.Bg\(t\) {
  background: transparent;
}
.H\(100vh\) {
  height: 100vh;
}
.Mt\(43px\) {
  margin-top: 43px;
}
.Mb\(32px\) {
  margin-bottom: 32px;
}
.Ovy\(a\) {
  overflow-y: auto;
}
.Py\(33px\), .Pt\(33px\) {
  padding-top: 33px;
}
.Pb\(56px\) {
  padding-bottom: 56px;
}
.W\(144px\) {
  width: 144px;
}
.W\(85px\) {
  width: 85px;
}
.W\(90\%\) {
  width: 90%;
}
.Bgz\(100\) {
  background-size: 100% 100%;
}
.Bgz\(c\) {
  background-size: cover;
}
.Bgr\(nr\)  {
  background-repeat: no-repeat;
}
.Fz\(45px\) {
  font-size: 45px;
}
.Fz\(36px\) {
  font-size: 36px;
}
@media screen and (max-width: 1476px) {
  .Fz\(12px\)--mlg {
    font-size: 12px;
  }
  .Fz\(16px\)--mlg {
    font-size: 16px;
  }
  .Fz\(18px\)--mlg {
    font-size: 18px;
  }
  .Fz\(24px\)--mlg {
    font-size: 24px;
  }
  .Fz\(30px\)--mlg {
    font-size: 30px;
  }
  .Fz\(32px\)--mlg {
    font-size: 32px;
  }
  .Fz\(48px\)--mlg {
    font-size: 48px;
  }
  .Fz\(50px\)--mlg {
    font-size: 50px;
  }
  .Fz\(70px\)--mlg {
    font-size: 70px;
  }
  .Lh\(32px\)--mlg {
    line-height: 32px;
  }
  .Lh\(60px\)--mlg {
    line-height: 60px;
  }
  .Maw\(765px\)--mlg {
    max-width: 765px;
  }
  .Px\(30px\)--mlg {
    padding-left: 30px;
    padding-right: 30px;
  }
  .Py\(22px\)--mlg {
    padding-top: 22px;
    padding-bottom: 22px;
  }
  .Py\(33px\)--mlg {
    padding-top: 33px;
    padding-bottom: 33px;
  }
  .W\(109px\)--mlg {
    width: 109px;
  }
}
@media screen and (max-width: 583px) {
  .Bdrs\(13px\)--sm {
    -webkit-border-radius: 13px;
            border-radius: 13px;
  }
  .Mstart\(0\)--sm {
    margin-left: 0;
  }  
  
  .Px\(20px\)--sm {
    padding-left: 20px;
    padding-right: 20px;
  }
  .Fz\(12px\)--sm {
    font-size: 12px;
  }
  .Fz\(16px\)--sm {
    font-size: 16px;
  }
  .Fz\(18px\)--sm {
    font-size: 18px;
  }
  .Fz\(28px\)--sm {
    font-size: 28px;
  }
  .Fz\(45px\)--sm {
    font-size: 45px;
  }
  .Fz\(8px\)--sm {
    font-size: 8px;
  }
  .Fz\(9px\)--sm {
    font-size: 9px;
  }
  .H\(30px\)--sm {
    height: 30px;
  }
  .Lh\(25px\)--sm {
    line-height: 25px;
  }
  .Mend\(8px\)--sm {
    margin-right: 8px;
  }
  .Mb\(50px\)--sm {
    margin-bottom: 50px;
  }
  .Px\(15px\)--sm {
    padding-left: 15px;
    padding-right: 15px;
  }
  .Px\(16px\)--sm {
    padding-left: 16px;
    padding-right: 16px;
  }
  .Py\(8px\)--sm {
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .Pt\(30px\)--sm {
    padding-top: 30px;
  }
  .Ta\(c\)--sm {
    text-align: center;
  }
  .W\(136px\)--sm {
    width: 136px;
  }
  .W\(30px\)--sm {
    width: 30px;
  }
  .Bdrs\(22px\)--sm {
    -webkit-border-radius: 22px;
            border-radius: 22px;
  }
  .Fld\(c\)--sm {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .Ai\(c\)--sm {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .Jc\(c\)--sm {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
   .H\(140px\)--sm {
    height: 140px;
  }

 .Mt\(8px\)--sm {
    margin-top: 8px;
  }
   .Maw\(79\%\)--sm {
    max-width: 79%;
  }
   .Maw\(n\)--sm {
    max-width: none;
  }
   .Py\(3px\)--sm {
    padding-top: 3px;
    padding-bottom: 3px;
  }
   .W\(140px\)--sm {
    width: 140px;
  }
}
@media screen and (max-width: 992px) {
  .Jc\(c\)--md {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .Maw\(100p\)--md {
    max-width: 100%;
  }
   .Fz\(18px\)--md {
    font-size: 18px;
  }
   .Fz\(36px\)--md {
    font-size: 36px;
  }
   .Fz\(69px\)--md {
    font-size: 69px;
  }
    .Mx\(24px\)--md {
    margin-left: 24px;
    margin-right: 24px;
  }
  .Mb\(22px\)--md {
    margin-bottom: 22px;
  }  
   .W\(100\%\)--md {
    width: 100%;
  }
  .Bdrs\(60px\)--md {
    -webkit-border-radius: 60px;
            border-radius: 60px;
  }
  .As\(c\)--md {
    -webkit-align-self: center;
        -ms-flex-item-align: center;
                -ms-grid-row-align: center;
            align-self: center;
  }
  .Fz\(12px\)--md {
    font-size: 12px;
  }
  .Fz\(16px\)--md {
    font-size: 16px;
  }
  .Fz\(24px\)--md {
    font-size: 24px;
  }
  .Fz\(32px\)--md {
    font-size: 32px;
  }
  .H\(250px\)--md {
    height: 250px;
  }
  .Mx\(a\)--md {
    margin-left: auto;
    margin-right: auto;
  }
  .Mt\(15px\)--md {
    margin-top: 15px;
  }
  
  .Mt\(20px\)--md {
    margin-top: 20px;
  }
  .Mt\(32px\)--md {
    margin-top: 32px;
  }
  .Mb\(40px\)--md {
    margin-bottom: 40px;
  }
  .Mb\(84px\)--md {
    margin-bottom: 84px;
  }
  .Px\(15px\)--md {
    padding-left: 15px;
    padding-right: 15px;
  }
  .Px\(16px\)--md {
    padding-left: 16px;
    padding-right: 16px;
  }
  .Px\(22px\)--md {
    padding-left: 22px;
    padding-right: 22px;
  }
  .Py\(8px\)--md {
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .Ta\(c\)--md {
    text-align: center;
  }
  
}
